<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
<body>
  <%- include('includes/nav'); %>
  <div class="container mt-5">
    <h1 class="text-center">Not found!</h1>
    <a href = "/"><img src="/img/404.jpg" class="img-fluid" alt="not found"> </a>
  </div>
  <%- include('includes/footer'); %>
</body>
</html>