<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head'); %>
  <body>
    <%- include('includes/nav'); %>
    <div class="container">
      <form>
          <h1> home </h1>
      </form>
   
    </div>
    <%- include('includes/footer'); %>
  </body>
</html>
