.navbar-custom{
    background-color: black;
    border-bottom: 2px solid #e41e26;
}
.navbar-brand{
    font-size :22 px;
    margin-left : 15%;
}
.navbar-brand:hover{
    font-size :22 px;
    margin-left : 15%;
    color:rgb(155, 155, 155)
}
#a,#logo{
    color : white;
    text-decoration: none;
    font-size : 22px;
}
#a:hover{
    color : rgb(155, 155, 155);
}
#logo:hover{
    color: rgb(155, 155, 155)
}

#imglogo{
    border-color : black;
    border-style : solid 2px;
}

#alr{
    text-decoration: none;
    margin-top : 5px;
}

#registertext{
    text-align : center;
}
